# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

.nova
config.codekit3
.DS_Store
.github

# Log files
*.log

# htaccess
/.htaccess

